<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users List</title>
</head>
</body>
<h1>Users List</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>LastName</th>
    </tr>
    <tr th:each="user : ${user}">
        <td th:utext="${user.getId()}"></td>
        <td th:utext="${user.getName()}"></td>
        <td th:utext="${user.getLastName()}"></td>
        <td>
            <a th:href="@{/admin/{id}/edit(id = ${user.getId()})}">Edit</a>
        <td>
            <form th:action="@{/admin/{id}/(id=${user.getId()})}" th:method="DELETE">
                <input type="submit" value="Delete" th:method="DELETE">
            </form>
        </td>
    </tr>
</table>
<br/>
<a th:href="@{/admin/new}">Create new user</a>
<br/>
<br/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Log out"/>
</form>
</body>
</html>