<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Personal data</title>
</head>
<body>
<p>Your personal data:</p>
<p>Name: <span th:text="${user.getName()}"></span></p>
<p>Lastname: <span th:text="${user.getLastName()}"></span></p>
<p>Username: <span th:text="${user.getUsername()}"></span></p>
<p>Password: <span th:text="${user.getPassword()}"></span></p>
<p>Role: <div th:each="role : ${user.getRoles()}">
    <div th:utext="${role.getName()}"> </div>
</div></p>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Log out"/>
</form>
</body>
</html>

